@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .global_background {
    @apply w-full bg-white min-h-[530px] flex flex-col justify-center items-center py-10 px-6;
  }
  .search_form {
    @apply max-w-3xl w-full min-h-[80px] size-[50px] rounded-md bg-yellow-400 text-white mt-8 px-5 flex flex-row items-center;
  }
  .search_btn {
    @apply text-black py-2 px-5 rounded-md flex justify-center items-center;
  }
  .search_input {
    @apply w-full h-auto outline-none flex-1 font-bold placeholder:text-black text-black flex justify-center items-center;
  }
  .card_grid {
    @apply grid md:grid-cols-3 sm:grid-cols-2 gap-5;
  }
}

/* 畫廊樣式區 */
.gallery-container {
  column-count: 2; /* 預設2列 */
  column-gap: 1rem;
  width: 100%;
}

@media (min-width: 768px) {
  .gallery-container {
    column-count: 3; /* 中型螢幕3列 */
  }
}

@media (min-width: 1024px) {
  .gallery-container {
    column-count: 4; /* 大型螢幕4列 */
  }
}

.gallery-item {
  display: inline-block;
  width: 100%;
  margin-bottom: 1rem;
  cursor: pointer;
}

.gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  transition: filter 0.3s;
}

.gallery-item:hover img {
  filter: brightness(70%);
}

.break-inside-avoid {
  break-inside: avoid-column;
}

body {
  background: transparent;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
